.ln-container {
    background-color: #3f51b5;
    height: 40px;
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
}
.ln-button {
    flex-grow: 1;
    color: #ffffff !important;
}

.ln-content {
    flex-grow: 2;
    justify-items: flex-end;
}

.ln-buttons-container {
    display: flex;
    flex-grow: 2;
    align-content: center;
    justify-content: space-between;
}
.rightIcon {
    margin-left: 6px;
}

.exercise-count {
    padding-top: 8px;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}
